.home {
    background-color: #f8f9fa; /* Change to a suitable background color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 75vh;
  }
  
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .left span {
    font-size: 70px;
    font-weight: 500;
    color: #dc3545;
    margin-bottom: 10px; /* Add some space below the span */
  }
  
  .left button {
    width: 300px; /* Increase button width */
    height: 60px; /* Increase button height */
    font-size: 24px; /* Decrease font size for better fit */
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease;
    margin-top: 20px; /* Add some margin from the title */
  }
  
  .left button:hover {
    transform: scale(1.1);
  }
  
  .left h1 {
    font-size: 32px; /* Decrease font size for better fit */
    margin-top: 20px; /* Add some margin from the welcome message */
    margin-bottom: 20px; /* Add some space below the welcome message */
    color: #333; /* Adjust text color */
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .image {
    padding: 20px; /* Add padding around the image */
  }
  
  .image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto;
  }
  
/* For screens smaller than 768px (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
    .home {
      padding: 10px; /* Adjust padding for mobile */
    }
  
    .left span {
      font-size: 80px; 
      padding-left: 30px;
    }
  
    .left button {
      max-width: 200px; /* Adjust maximum width for mobile */
      height: 60px; /* Adjust height for mobile */
      font-size: 20px; /* Adjust font size for mobile */
    }
  
    .left h1 {
      font-size: 40px; /* Adjust font size for mobile */
      margin-top: 15px; /* Adjust margin for mobile */
      margin-bottom: 15px; /* Adjust margin for mobile */
    }
  
    .image img {
      display: none;; /* Adjust maximum width for image on mobile */
    }
  }
  