.home {
    background-color: #f8f9fa; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 75vh;
  }
  
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .left span {
    font-size: 70px;
    font-weight: 500;
    color: #dc3545;
    margin-bottom: 10px; 
  }
  
  .left button {
    width: 300px; 
    height: 60px; 
    font-size: 24px; 
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease;
    margin-top: 20px; 
  }
  
  .left button:hover {
    transform: scale(1.1);
  }
  
  .left h1 {
    font-size: 32px;
    margin-top: 20px; 
    margin-bottom: 20px;
    color: #333; /* Adjust text color */
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .image {
    padding: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }

@media only screen and (max-width: 768px) {
    .home {
      padding: 10px; 
    }
  
    .left span {
      font-size: 80px; 
      padding-left: 30px;
    }
  
    .left button {
      max-width: 200px; 
      height: 60px;
      font-size: 20px; 
    }
  
    .left h1 {
      font-size: 40px; 
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .image img {
      display: none;; /* Adjust maximum width for image on mobile */
    }
  }
  
